* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.root {
  font-family: Arial, Helvetica, sans-serif; }

.header {
  color: white;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  font-size: 22px;
  background-color: #5d0e69;
  text-align: center; }

.content {
  width: 100%;
  height: 100%; }

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100% 100%; }

.grid-addnum {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.addnum {
  width: 300px;
  height: 150px;
  position: relative; }
  .addnum span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 5px;
    padding-bottom: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .addnum input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 40px;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px; }

.grid-top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center; }

.top-stack {
  width: 100%;
  height: 100px;
  margin-top: 0;
  position: relative; }
  .top-stack span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 5px;
    padding-bottom: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .top-stack input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px; }

.grid-stack {
  position: relative; }

.stack {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .stack table {
    margin-top: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    width: 800px;
    height: 80px; }
  .stack td {
    border: 1px solid gray;
    border-radius: 5px;
    height: 80px;
    width: 100px;
    padding-left: 40px; }

.top-number {
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20%;
  left: 0; }
  .top-number table {
    width: 800px;
    height: 40px; }
  .top-number td {
    height: 20px;
    width: 100px;
    padding-left: 40px; }

.grid-opr {
  height: 100%;
  width: 100%;
  position: relative; }

.opr {
  width: 100%;
  margin-top: 60px; }
  .opr .opr-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-bottom: 100px; }
  .opr .opr-bot {
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-top: 80px; }
  .opr button {
    width: 120px;
    height: 45px;
    border: 1px solid gray;
    background-color: #8f0e88ea;
    box-shadow: 0px 15px 20px  #460850;
    margin: 5px;
    color: floralwhite;
    border-radius: 25px;
    font-size: 20px; }

.footer {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #be64de;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center; }
  .footer img {
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 10px; }
  .footer span {
    font-size: 16px;
    padding: 10px; }

/*# sourceMappingURL=style.css.map */
